<div id="myModal" class="modal" [class.open-modal]="opened">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" (click)="Close()">&times;</span>
            <h2>Update Book</h2>
        </div>
        <div class="modal-body">
            <section>
                <form (ngSubmit)="SaveBook()">
                    <label for="">Book Id </label> 
                    <input type="text" name="id" [(ngModel)]="book.id" disabled/>

                    <label for="">Book Name </label> 
                    <input type="text" name="name" [(ngModel)]="book.name"/>
                
                    <label for="">Book Type </label> 
                    <input type="text" name="type" [(ngModel)]="book.type"/>
                
                    <label for="">Price </label> 
                    <input type="text" name="price" [(ngModel)]="book.price"/>
                
                    <label for="">Quantity </label> 
                    <input type="text" name="quantity" [(ngModel)]="book.quantity"/>
                
                    <button type="submit">Save</button>
                </form>
            </section>
        </div>
    </div>
</div>