header,
section,
footer {
  margin: 0 1.5% 24px 1.5%;
}

section {
    float: left;
    margin: 0 1.5%;
    width: 30%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

footer {
    clear: both;
    padding-top: 10px;
    margin-bottom: 0;
    position: absolute;
    bottom: 30px;
}
  
label {
    color: #848484;
    display: block;
    clear: left; /* clears any left floats so before so this should start on new line */
}
  
label, input {
    width: 10em;
    float: left;
    margin: 10px 0 0 0;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #45a049;
}