<header>
  <h1>Register Books</h1>
</header>
<section>
  <form (ngSubmit)="InsertBook(book)">
    <label for="">Book Name </label> 
    <input type="text" name="name" [(ngModel)]="book.name"/>

    <label for="">Book Type </label> 
    <input type="text" name="type" [(ngModel)]="book.type"/>

    <label for="">Price </label> 
    <input type="text" name="price" [(ngModel)]="book.price"/>

    <label for="">Quantity </label> 
    <input type="text" name="quantity" [(ngModel)]="book.quantity"/>

    <button type="submit">Save</button>
  </form>
</section>
<article>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>type</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of bookList">
        <td>{{ book.id }}</td>
        <td>{{ book.name }}</td>
        <td>{{ book.type }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.quantity }}</td>
        <td>
          <button type="button" id="update" (click)="GetBookById(book.id)">Update</button>
        </td>
        <td>
          <button type="button" id="delete" (click)="DeleteBook(book.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</article>
<app-register-update #myModal (bookUpdated)="UpdateBook($event)"></app-register-update>
<footer>
  <p>projeto de cadastro de livros</p>
</footer>